[submodule "libs/Advanced-Tiled-Loader"]
	path = libs/Advanced-Tiled-Loader
	url = https://github.com/Kadoba/Advanced-Tiled-Loader
[submodule "libs/middleclass"]
	path = libs/middleclass
	url = https://github.com/kikito/middleclass
[submodule "libs/HardonCollider"]
	path = libs/HardonCollider
	url = https://github.com/vrld/HardonCollider.git
